set gfxmode=480x270,auto
terminal_output gfxterm

background_image /boot/grub/image.png
set gfxpayload=keep

set timeout=10
set default=0

menuentry "ArCeniy" {
    set root=(hd0,gpt2)
    linux /system/boot/vmlinuz copy2ram lsm=landlock from=/mnt/nvme0n1p2 noload=offmodule timezone=Europe/Moscow utc
    initrd /system/boot/initrd.xz
}
